body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 500px;
    background-color: #fff;
    padding: 10px 15px;

}
label {
    display: block;
}
input {
    display: block;
}
.erro {
    color: red;
}